.container{
    margin: 0 auto;
    max-width: 1400px!important;
}
.store-main{
    display: flex;
}

.card{
    border: 2px solid black;
    padding: 14px;
    border-radius: 5px;
}
.card img{
    text-align: center;
    width: 100%;
    height: 200px;
}
.btn-cart{
    padding: 10px 30px;
    background-color: orange;
    margin-top: 20px;
    border-radius: 5px;
}
.checkout-section{
    width: 20%;
}
.chekout{
    border-top: 2px solid orangered;
   margin-left: 30px;
   margin-top: 30px;
}
.cupon{
    background-color:brown;
   color: white;
   margin-top: 20px;
   padding: 10px;
}
#coupon-btn{
    padding: 10px 20px;
    background-color: orange;
    border-radius: 5px;
    margin-top: 20px;
}
.selected-items{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    list-style: none;
}
#priceTotal{
    font-size: 30px;
    text-align: center;
}